<!DOCTYPE html>
{% load static %}
<script>

    function display(data){};

    function getdata(){
        $.ajax({
            url:'tabledata',
            datatype:'JSON',
            success:function(data){
                alert(data);
            }
        });
    };

    $(document).ready(function(){
        // getdata();
    });
</script>
<main>
    <div class="container-fluid px-4">
        <center>
            <h1>팀명 <b><1석 3조></b></h1>
            <h2>주제 : 상수도 수질이 지역사회 건강에 미치는 영향</h2>
        </center>

        <img src="{%static 'img/sea.jpeg'%}" width = "100%"  alt="물">

<!--            <span style = " font-size:1.5em;  color: green;">-->
<!--                    팀원 : 이재웅, 김병현, 유준웅-->
<!--            </span>-->


    </div>
</main>