<!DOCTYPE html>
{% load static %}

<script>

</script>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Depression Counselling</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">

            </li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                독립변수 : 불소(기준:1.5/ 단위:(mg/L)), 증발잔류물(기준:500/ 단위:(mg/L)), 황산이온(기준:200/ 단위:(mg/L)), 알루미늄(기준:0.2/ 단위:(mg/L)), 망간(기준:0.05/ 단위:(mg/L))<br>
                종속변수 : 우울증상으로인한정신상담률_표준화율
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        불소(기준:1.5/ 단위:(mg/L))
                    </div>
                    <div class="card-body">
                        <div id="scatter01" width="100%" height="500px"></div>
                        <img src="{% static 'img/dc1.png'%}" width="400px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        증발잔류물(기준:500/ 단위:(mg/L))
                    </div>
                    <div class="card-body">
                        <div id="scatter02" width="100%" height="500px"></div>
                        <img src="{% static 'img/dc2.png'%}" width="400px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        염소이온(기준:250/ 단위:(mg/L))
                    </div>
                    <div class="card-body">
                        <div id="scatter03" width="100%" height="500px"></div>
                        <img src="{% static 'img/dc3.png'%}" width="400px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        황산이온(기준:200/ 단위:(mg/L))
                    </div>
                    <div class="card-body">
                        <div id="scatter04" width="100%" height="500px"></div>
                        <img src="{% static 'img/dc4.png'%}" width="400px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        망간(기준:0.05/ 단위:(mg/L))
                    </div>
                    <div class="card-body">
                        <div id="scatter05" width="100%" height="500px"></div>
                        <img src="{% static 'img/dc5.png'%}" width="400px" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Prediction Result
            </div>
            <div class="card-body">
                <img src="{% static 'img/depression_counselling.png'%}" width="1000px" alt="">
                <h2>R-squared : 0.1917737492610384</h2>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>

    </div>
</main>