<!DOCTYPE html>
<html lang="en">
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<a href = "{% url 'dashboard2' %}" class="btn btn-outline-secondary" role="button">지역 선택 화면으로</a>
<p style="width:100%">
</p>

<script>
window.onload = function() {
    var colors = Highcharts.getOptions().colors;
    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },

        legend: {
            symbolWidth: 40
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'mg/L'
            },
            accessibility: {
                description: 'Percentage usage'
            }
        },

        xAxis: {
            title: {
                text: 'Time'
            },
            accessibility: {
                description: 'Time from December 2010 to September 2019'
            },
            categories: ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시','대전광역시','울산광역시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주도']
        },

        plotOptions: {
            series: {
                point: {
                    events: {
                        click: function () {
                            window.location.href = this.series.options.website;
                        }
                    }
                },
                cursor: 'pointer'
            }
        },

        series: [
            {
                name: '경도',
                data: [61.58434753,104.9582236,76.20614693,61.14751531,19.07539683,53.16666667,60.63852814,60.93871859,55.715607,71.69330841,79.74487228,55.85249728,35.08804972,88.31111675,89.18372817,40.78090045],
                color: colors[0]
            }, {
                name: '과망간칼슘소비량',
                data: [1.2918357,0.968119186,1.831709145,1.585943915,1.358531746,1.472916667,1.877489177,1.561618979,0.74402883,1.220778479,1.340468101,1.534422233,2.029792731,2.174350632,1.856322106,0.117757271],
                color: colors[1]
            }, {
                name: '염소이온',
                data: [15.93052738,46.86751799,29.36581709,15.62701479,8.19047619,14.8125,34.96320346,15.57967104,10.32047059,15.39944431,24.7520448,17.49426635,8.484971483,18.90891624,41.26306826,13.57885906],
                color: colors[9]
            }, {
                name: '증발잔류물',
                data: [101.857167,271.6430577,161.0367316,112.6227902,47.0734127,91.02083333,217.4080087,104.138967,91.81639763,112.2901638,154.3798918,116.2696331,60.3751006,167.4124871,243.975916,94.08235459],
                color: colors[5]
            }, {
                name: '황산이온',
                data: [13.21044625,70.71651747,28.7113943,12.73892228,4.783730159,12.5,36.36688312,12.48645321,10.89980833,13.31872712,20.83421417,12.07003928,5.519510989,26.83658395,49.89426629,3.624021253],
                color: colors[3]
            }
        ],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 550
                },
                chartOptions: {
                    chart: {
                        spacingLeft: 3,
                        spacingRight: 3
                    },
                    legend: {
                        itemWidth: 150
                    },
                    xAxis: {
                        categories: ['Dec. 2010', 'May 2012', 'Jan. 2014', 'July 2015', 'Oct. 2017', 'Sep. 2019'],
                        title: ''
                    },
                    yAxis: {
                        visible: false
                    }
                }
            }]
        }
    });
}
</script>
<section>
  <h1 align="center">2009년 지역별 수질</h1>
  <h6 align="right">(서울특별시~제주도)</h6>
  <div id="container"></div>
</section>