<!DOCTYPE html>
<html lang="en">
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<a href = "{% url 'dashboard2' %}" class="btn btn-outline-secondary" role="button">지역 선택 화면으로</a>
<p style="width:100%">
</p>

<script>
window.onload = function() {
    var colors = Highcharts.getOptions().colors;
    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },

        legend: {
            symbolWidth: 40
        },

        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'mg/L'
            },
            accessibility: {
                description: 'Percentage usage'
            }
        },

        xAxis: {
            title: {
                text: 'Time'
            },
            accessibility: {
                description: 'Time from December 2010 to September 2019'
            },
            categories: ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시','대전광역시','울산광역시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주도']
        },

        plotOptions: {
            series: {
                point: {
                    events: {
                        click: function () {
                            window.location.href = this.series.options.website;
                        }
                    }
                },
                cursor: 'pointer'
            }
        },

        series: [
            {
                name: '경도',
                data: [59.55054091,73.6431894,62.69871795,65.8289932,19.38293651,54.29166667,61.50865801,62.44059662,55.63395371,64.40037981,67.8449635,41.24616954,25.51678313,73.5914844,72.33751175,33.96905458],
                color: colors[0]
            }, {
                name: '과망간칼슘소비량',
                data: [1.195148749,0.942983149,1.744871795,1.516617894,1.344642857,2.879166667,1.035822511,1.452908493,1.119413603,1.37799098,1.826469275,1.63548202,1.609296814,2.455378736,1.43668131,0],
                color: colors[1]
            }, {
                name: '염소이온',
                data: [14.02349561,23.61150606,22.08333333,15.16366287,8.168650794,14.39583333,22.84632035,16.11012896,9.632635741,14.08797542,23.4521053,14.04845257,10.02264893,15.16340094,25.91546347,10.06725146],
                color: colors[9]
            }, {
                name: '증발잔류물',
                data: [97.08130494,169.0838599,128.7724359,123.0935304,45.45833333,85.33333333,138.2597403,98.44860379,87.81170497,113.2780239,124.7091207,87.88539125,61.27921619,153.9387103,165.1050518,85.54349415],
                color: colors[5]
            }, {
                name: '황산이온',
                data: [13.35615281,40.14204845,20.98717949,12.66925168,4.712301587,10.6875,25.28030303,12.76637525,9.856271342,10.89244079,18.82651391,8.981345126,6.207021973,22.48442161,27.54825446,2.958211501],
                color: colors[3]
            }
        ],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 550
                },
                chartOptions: {
                    chart: {
                        spacingLeft: 3,
                        spacingRight: 3
                    },
                    legend: {
                        itemWidth: 150
                    },
                    xAxis: {
                        categories: ['Dec. 2010', 'May 2012', 'Jan. 2014', 'July 2015', 'Oct. 2017', 'Sep. 2019'],
                        title: ''
                    },
                    yAxis: {
                        visible: false
                    }
                }
            }]
        }
    });
}
</script>
<section>
  <h1 align="center">2013년 지역별 수질</h1>
  <h6 align="right">(서울특별시~제주도)</h6>
  <div id="container"></div>
</section>